body{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#fejlec{
  font-family: 'Abril Fatface', cursive;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#fejlec h2{
  margin-bottom: 0px;
  margin-top: 0px;
  position: absolute;
  left: 230px;
  top: 200px;
  font-size: 27.5px;
  font-weight: normal;
}

#fejlec h1{
  margin-top: 0px;
  position: absolute;
  left: 230px;
  top: 220px;
  font-size: 55px;
  font-weight: normal;
}

#fejlec img{
   width: 100%;  
}

.test{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*.test{
  display: flex;
  width: 100%;
  height: 2500px;
}

#left{
  flex-grow: 1;
  background: black;
}

main{
  flex-grow: 10;
  background: yellow;
}

#right{
  flex-grow: 1;
  background: red;
}*/

ul{
  list-style-type: square;
}

.elso{
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  margin-top: 20px;
/*   font-size: 18px; */
  line-height: 150%;
  padding: 35px;
}

#quotes{
  background: #222;
  color: white;
  font-family: 'Abril Fatface', cursive;
  width: 100%;
  margin: 0px;
/*   height: 130px; */
  position: relative;
}

blockquote::before {
  content: '“';
  font-size: 130px;
  font-family: 'Abril Fatface', cursive;
  position: absolute; 
  top: -35px;
  /* then the styling */
}

#quotes h1{
  font-size: 42px;
  /*position: absolute;
  left: 50px;
  top: 20px;*/
/*   text-align: center; */
/*   justify-content: center; */
  margin: 0px;
  padding: 40px;
  padding-top: 50px;
}

/*#quotes p{
  font-size: 130px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: -25px;
}*/
  
.masodik{
  padding: 35px;
  font-family: 'Josefin Sans', sans-serif;
/*   margin:? */
  color: #222;
  line-height: 150%;
}

.masodik h2{
/*   font-family: 'Josefin Sans', sans-serif; */
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 50px;
}

.masodik h3{
  margin-bottom: 0px;
  margin-top: 40px;
}

.masodik p {
  line-height: 140%;
/*   font-size: 12.5px; */
}

.harmadik {
  font-family: 'Josefin Sans', sans-serif;
  padding: 35px;
  color: #222;
  line-height: 150%;
}

.harmadik h2{
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 50px;
}

.harmadik h3{
  margin-bottom: 0px;
  margin-top: 40px;
/*   margin-top: */
}

.harmadik h5{
  font-family: 'Merriweather', serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.negyedik{
  font-family: 'Josefin Sans', sans-serif;
  padding: 35px;
  color: #222;
  line-height: 150%;
}

.negyedik h2{
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 50px;
}

.negyedik h3{
  margin-bottom: 0px;
  margin-top: 40px;
}

.negyedik h5{
  font-family: 'Merriweather', serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.otodik{
  font-family: 'Josefin Sans', sans-serif;
  padding: 35px;
  color: #222;
  line-height: 150%;
  border-top: 3px solid #222;
}

.otodik h2{
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 50px;
}
